<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <style>
        body{
            background-image: url(https://thumbs.gfycat.com/VillainousDisguisedBrant-max-1mb.gif);
            background-size: 100%;
            background-attachment: fixed;
        }

        
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container p-5">
        <div class="">
            <div class="card-body">
                    <h1>Hello, <%= name %></h1>
                    <a href="/logout" class="btn btn-danger">Logout</a>
                    <a href="/admin" class="btn btn-primary">Admin</a>
                    <a href="/room" class="btn btn-light">Meeting</a>
            </div>
        </div>
    </div>
</body>
</html>